VITE_BACKEND_URL=your_backend_url
VITE_SITE_URL=your_site_url

VITE_APP_NAME=Trackence

VITE_WEBSITE_NAME=Trackence
VITE_DEFAULT_DESCRIPTION=your_default_seo_description
VITE_DEFAULT_OG_IMAGE=your_absolute_og_image_url
VITE_TWITTER_HANDLE=@trackenceapp
VITE_THEME_COLOR=#0d0c0c